Options -MultiViews
RewriteEngine On
# in localhost proName=project name and  in host remove /proName like this /public
RewriteBase /proName/public

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]